<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCLUB视频面试</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="js/ckplayer/ckplayer.js"></script>
    <style>
        .el-a-style{
            text-decoration:none;
            font-size:14px;
            color:#8b8f94;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="width:100%;height:40px;">
        <div style="padding-top:10px;">
            <span style="font-size:24px;margin-left:30px;">{{name}}</span>
            <span style="margin-left:1100px;"><a href="javascript:void(0);" class="el-a-style">设备检测</a></span>
            <span style="margin-left:30px;"><a href="javascript:void(0);" class="el-a-style">帮助中心</a></span>
        </div>
    </div>
    <el-divider></el-divider>
    <div style="margin-top:10px;">
        <div style="float:left;margin-left:150px;">
            <div id="video" style="width:960px;height:580px"></div>
        </div>
        <div style="float:left;">
            <div style="">
                <div id="video1" style="width:280px;height:180px"></div>
            </div>
            <div style="width:280px;height:350px;background-color:rgb(240,240,240);" id="chatContent">

            </div>
            <div style="width:280px;height:50px;background-color:rgb(60,60,60)">
                <div style="float:left;"><el-input v-model="input" placeholder="请输入内容" style="width:210px;padding-top:5px;"></el-input></div>
                <div style="float:left;margin-top:5px;"><el-button type="primary">发送</el-button></div>
            </div>
        </div>
    </div>
    <div style="padding-top:600px;margin-left:160px;">
        <div style="float:left;">
            <a href="javascript:void(0);">
                <img src="img/candidate_info.png" alt="" width="30px" height="30px">
            </a>
        </div>
        <div style="float:left;margin-left:15px;">
            <a href="javascript:void(0);">
                <img src="img/edit.png" alt="" width="30px" height="30px">
            </a>
        </div>
        <div style="float:left;margin-left:400px;">
            <a href="javascript:void(0);">
                <img src="img/volume_open.png" alt="" width="40px" height="40px">
            </a>
        </div>
        <div style="float:left;margin-left:15px;">
            <a href="javascript:void(0);">
                <img src="img/vedio_open.png" alt="" width="40px" height="40px">
            </a>
        </div>
        <div style="float:left;margin-left:15px;">
            <a href="javascript:void(0);">
                <img src="img/break.png" alt="" width="40px" height="40px">
            </a>
        </div>
        <div style="float:left;margin-left:480px;">
            <a href="javascript:void(0);">
                <img src="img/code.png" alt="" width="30px" height="30px">
            </a>
        </div>
        <div style="float:left;margin-left:15px;">
            <a href="javascript:void(0);">
                <img src="img/share.png" alt="" width="30px" height="30px">
            </a>
        </div>
        <div style="float:left;margin-left:15px;">
            <a href="javascript:void(0);">
                <img src="img/more.png" alt="" width="30px" height="30px">
            </a>
        </div>
    </div>
</div>
<script>
    new Vue({
        el :'#app',
        data:{
            name: 'CCLUB 视频面试',
            input: ''
        },
        created() {
            this.init();
        },
        methods:{
            init(){
                var videoObject={
                  container: '#video',
                  variable: 'player',
                  autoplay: true,
                  live: true,
                  video: 'rtmp://127.0.0.1:1935/live/home'
                };
                var player=new ckplayer(videoObject);
                var vedioObject1={
                    container: '#video1',
                    variable: 'player',
                    autoplay: true,
                    live: true,
                    video: 'rtmp://127.0.0.1:1935/live/home1'
                }
                var player1=new ckplayer(vedioObject1);
            }
        }
    })
</script>
</body>
</html>